/**********************************************************
****************Body************************************
**********************************************************/
body {
    background-color: #f5f5f5;
    font: 100% Roboto;
    margin: 0 auto;
}

/**********************************************************
****************Banner************************************
**********************************************************/
header {
	background:url("../images/books_header_bg.jpg");
	padding: 0px;
}

.header-content {
	text-align: center;
	background: url("../images/books.MD_logo_icon.png") no-repeat 0 50px;
	width: 750px;
	margin: 0 auto;
	height: 150px;
	padding: 50px 0;
}

h1 {
	text-align: left;
	margin-left: 100px;
	margin-top: 5px;
	/*font-family: roboto;*/
	margin-bottom: 3px
}

.tag-line {
	 font-size: 0.9em;
	 margin: 0px;
	 margin-left: 100px;
	 color: #6B8607;
}

/***********************************
****************Search**************
***********************************/
.search {
	text-align: left;
	margin-top: 30px;
	position: relative;
}

input {
	width: 550px;
	height: 35px;
	color: darkgreen;
	background-color : #cedd9a;
	border-radius: 3px; 
	border: 0px;
	margin: 0px;
	padding: 5px;	
}

button {
	width: 53px;
	height: 45px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	color: #bbd464;
	background-color: #f5f5f5;
	border-radius: 2px;
}

/* Placeholder within the search box*/

::-webkit-input-placeholder {
	color: #a8bb6a;
	font-size: 1.25em;
	font: Roboto;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #a8bb6a;
   opacity: 1;
   	font-size: 1.25em;
	font: Roboto;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #a8bb6a;
   opacity: 1;
   	font-size: 1.25em;
	font: Roboto;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #a8bb6a;
   	font-size: 1.25em;
	font: Roboto;
}

/*************************************
**************Navigation Menu********
***********************************/
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 150px;
	overflow: hidden;
}
nav li {
	float: left;
}

nav li a {
	text-decoration: none;
	color: gray;
	text-align: center;
	padding: 16px;
	padding-top: 5px;
	display: block;
}

nav li a:hover {
	color: green;
}

/*********************************************
******************Footer*********************
*******************************************/

footer {
	width: 100%;
	height: 150px;
	background-color: rgb(58,58,58);
	/*border: 1px solid blue;*/
	font-size: 20px;
	padding-top: 1px;
}

#footer-wrapper {
	height: 100px;
	width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
	/*text-align: center;*/
}

.footer-leftcol {
	width: 55%;
	float: left;
	background:url("../images/books.MD_footer_logo_icon.png") no-repeat;
	margin: 0 auto;
	margin-right: 10px;
	margin-top: 40px;
	height: 50px;
}


.header {
	color: #a9a9a9;
	margin-left: 50px;
	margin-top: 5px;
}

.header span {
	color: #979797;
}

.footer-rightcol {
	float: right;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 40px;
}


span {
	color: white;
	/*display: block;*/
}

.display-block {
display: block;
}

.color-686868 {
	color:#686868;
}

.color-999999 {
	color:#999999;
}


/*********************************************
******************Contents*********************
*******************************************/


/******************************************************************************
 *  Main **********************************************************************
 ******************************************************************************/
.wrapper {
    position: relative;
}

main {
    font-family: Roboto;
    line-height: 1.8;
    padding-top: 20px;
}

main a {
    color: #3183c9;
    text-decoration: none;
}

section {
    margin: 20px auto;
    padding: 0;
    width: 1200px;
    position: relative;
}

section .wrapper {
    background-color: #fff;
    height: 473px;
}

.content {
    float: left;
    padding: 36px;
    width: 768px;
    position: relative;
}

.content h2 {
    font: 400 1.8rem Roboto;
    margin: 0;
}

.content header {
    background-image: none;
}

.content header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content header ul li {
    color: #aeaeae;
    display: inline-block;
    float: none;
    font-size: 0.8rem;
    margin: 0 10px;
}

.content header ul li.author {
    color: #000;
    margin: 0;
}

.author a {
    display: inline-block;
}

.btn {
    border-radius: 5px;
    display: block;
    padding: 5px 10px;
}

.follow {
    border: 1px solid #a7c931;
    color: #a7c931;
}
.follow:hover {
    background-color: #a7c931;
    border: 1px solid #a7c931;
    color: #fff;
}

.summary {
    float: left;
    width: 55%;
}

/******************************************************************************
 * Rating *********************************************************************
 ******************************************************************************/
.rating {
    float: left;
}

.rating {
    border-left: 1px solid #e5e5e5;
    padding: 0 20px;
    width: 300px;
}

.rating ul:nth-child(2) {
    margin-top: 60px;
}

.rating ul {
    padding: 0;
}

.rating li {
    float: none;
    font-size: 0.8em;
}

.rating p {
    margin-bottom: 3px;
    padding-left: 10px;
    vertical-align: middle;
}

.rating li a {
    border-top: 1px solid #e5e5e5;
    color: #3183c9;
    padding: 5px 0 5px 10px;
    text-align: left;
}

.rating li:first-of-type a {
    border-top: none;
}

.scale li div {
    position: relative;
}


.scale p {
    float: left;
    vertical-align: middle;
}

.easy p {
    color: #f7be26;
}

.comprehensive {
    color: #75c36a;
}

.examples {
    color: #5ac9e3;
}

p.amount {
    background-color: #fdd978;
    border-radius: 3px;
    font-size: 0.65em;
    left: 100px;
    padding: 0 1px 0 0;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 22px;
}

.amount:after {
    border-color: transparent #fdd978;
    border-style: solid;
    border-width: 0 0 10px 8px;
    bottom: -5px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 0;
}

.comprehensive p.amount {
    background-color: #abd8a5;
    color: #4f9546;
    left: 110px;
}

.comprehensive .amount:after {
    border-color: transparent #abd8a5;
}

.examples p.amount {
    background-color: #9ad6e8;
    color: #1a8aa4;
    left: 122px;
}

.examples .amount:after {
    border-color: transparent #9ad6e8;
}

.scale .percent {
    float: right;
}

.easy .percent {
    color: #f7be26;
}

.easy .amount {
    color: #bf8c02;
}

.progress-container {
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 4px;
    line-height: 0;
    position: relative;
}

.progress-bar {
    border-radius: 5px;
    display: inline-block;
    height: 4px;
}

.easy .progress-bar {
    background-color: #f7be26;
}

.comprehensive .progress-bar {
    background-color: #75c36a;
}

.examples .progress-bar {
    background-color: #5ac9e3;
    line-height: 0;
}

.cover {
    float: right;
}



/******************************************************************************
 * Section Footer *********************************************************************
 ******************************************************************************/
section footer {
    background-color: transparent;
    border: 0;
    clear: both;
    margin-top: 25px;
}

section footer ul {
    margin: 0;
    padding: 0;
}

section footer li {
    background-color: #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 15px;
    padding: 0 0 0 120px;
}


section footer li:first-of-type {
    margin-left: 0;
}

.price {
    background-color: #fff;
    padding: 10px;
}

section footer li:last-of-type {
    background-color: transparent;
    float: right;
    padding: 0;
}

/******************************************************************************
 * Section Slideout ***********************************************************
 ******************************************************************************/

 .slideout-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(224, 224, 224, .85);
 }

 .slideout {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    width: 700px;
    height: 100%;
    border: 2px solid #cbe9e7;
    float: right;
    padding: 40px;
    position: relative;
 }

 .slideout input {
    height: 48px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    width: 100%;
    font-size: 1rem;
 }

.slideout span {
    color: #000;
}

span.search-highlight{
    color: #000;
    background-color: #d5edd2;
    line-height: 1.5;
    display: inline-block;
 }

span.page {
    float: right;
    padding-right: 20px;
}

.slideout ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    overflow: auto;
    height: 310px;
 }

.slideout li {
    padding: 5px;
    float:none;
}
/* start scrollbar style */
.slideout ul::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
.slideout ul::-webkit-scrollbar-track {
    -webkit-box-shadow: 0; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #eaeaea;
    width: 2px;
}
 
/* Handle */
.slideout ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #b7b7b7; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.slideout ul::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.slideout-nav {
    position: absolute;
    right: -255px;
    top: 210px;
    transform: rotate(90deg);
  
}

.slideout-nav ul{
    padding: 0;
   
}

.slideout-nav li {
    display: inline-block;
    padding: 10px 15px;
    color: #47a2af;
    float: none;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    cursor: default;

}

.slideout-nav li.active, .slideout-nav li:hover {
    background-color: #cbe9e7;
}

.slideout-nav li.close, .slideout-nav li.close:hover {
    color: #000;
    background-color: transparent;
}


.hidden {
    display: none;
}

/******************************************************************************
* Clear Fix ******************************************************************
******************************************************************************/
.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
